{% extends "base.twig" %} {% block content %}
<article
  class="flex flex-grow justify-center bg-gray-50 post-type-{{
    post.post_type
  }}"
  id="post-{{ post.ID }}"
>
  <section
    class="flex justify-center p-8 w-full max-w-screen-lg bg-white shadow-sm"
  >
    <div class="prose lg:prose-lg xl:prose-xl prose-rose pb-8 text-center">
      <h2>Página não encontrada</h2>
      <p>Voltar à <a href="{{ site.url }}">página inicial</a>.</p>
    </div>
  </section>
</article>
{% endblock %}
