{% extends "base.twig" %} {% block content %} {% if (post.thumbnail) %} {%
include "partial/hero.twig" with {'image_src': post.thumbnail.src} %} {% endif
%}
<article class="flex flex-col md:flex-row flex-grow justify-center bg-gray-50">
  <section class="p-8 w-full max-w-screen-lg bg-white shadow-sm">
    {% if not (post.thumbnail) %} {% include "partial/title.twig" %} {% endif %}
    <div class="prose lg:prose-lg xl:prose-xl prose-rose pb-8">
      {{ post.content }}
    </div>

    {% include "partial/read-more.twig" %} {% include "partial/post-tags.twig"
    %} {% include "loop/comments.twig" with { 'with_title': true } %} {% include
    "partial/comment-form.twig" %}
  </section>
</article>
{% endblock %}
