{% if posts|length > 0 %}
<div
  class="flex flex-col mb-4 {% if not with_title %}border-t-4 pt-6{% endif %}"
>
  {% include "loop/title.twig" with { 'title': 'Depoimentos' } %} {% for item in
  posts %}
  <div class="mb-6 border-b last:border-none pb-3">
    <div class="prose lg:prose-lg prose-rose">
      <blockquote>
        {{ item.content }}
      </blockquote>
      <p class="text-right leading-tight text-gray-600 text-sm font-semibold">
        {{ item.title }}
        {% if item.profissao %}
        <br />{{ item.profissao }}
        {%endif %}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
