<div class="comments">
  <!-- {% for comment in post.comments %}
  <article class="comment" id="comment-{{ comment.id }}">
    <h5 class="comment-author">{{ comment.author.name }} says</h5>
    {{ comment.content }}
  </article>
  {% endfor %}
  {{ function('comment_form') }} -->
</div>
