<div style="background-image: url({{ image }})" class="w-full h-[40vh] md:h-[70vh] bg-no-repeat bg-cover bg-top shadow-inner flex justify-center">
  <div class="relative w-full flex justify-center">
    <div class="flex flex-col justify-end px-8 pb-4 max-w-screen-lg w-full h-full relative z-10">
      {% include "partial/title.twig"
        with { 'style': 'white', 'hide_subtitle': hide_subtitle }
      %}
    </div>
    <div class="opacity-60 bg-gradient-to-t from-black via-transparent absolute inset-0 z-0"></div>
  </div>
</div>
