{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

  <body class="{{body_class}} min-h-screen flex flex-col items-center" data-template="base.twig">
    {% block header %}
      {% include "header.twig" %}
      {% include "menu.twig" %}
    {% endblock %}

		<section role="main" class="flex flex-col w-full flex-grow">
			{% block content %}
				Página não encontrada
			{% endblock %}
		</section>

		{% block footer %}
      {% include "footer.twig" %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
