<footer
  class="md:flex text-rose-900 bg-gray-50 w-full p-6 text-center border-t-4"
>
  <div class="hidden md:flex w-24"></div>
  <div class="flex-grow flex flex-col items-center">
    <svg
      class="w-12 h-12"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      x="0"
      y="0"
      viewBox="0 0 500.6 501.6"
      xml:space="preserve"
    >
      <path
        fill="currentColor"
        d="M250.4 500.1c-66.6 0-129.2-25.9-176.3-73C27 380 1 317.4 1 250.8S27 121.6 74 74.5s109.7-73 176.3-73 129.2 25.9 176.3 73c47.1 47.1 73 109.7 73 176.3s-25.9 129.2-73 176.3c-47 47.1-109.6 73-176.2 73zm0-458.6C134.9 41.5 41 135.4 41 250.8s93.9 209.3 209.3 209.3 209.3-93.9 209.3-209.3c.1-115.4-93.8-209.3-209.2-209.3z"
      />
      <circle fill="currentColor" cx="248.5" cy="179" r="56.4" />
      <circle fill="currentColor" cx="310.2" cy="286.2" r="56.4" />
      <circle fill="currentColor" cx="186.7" cy="286.2" r="56.4" />
    </svg>

    <p class="font-cursive text-xl sm:text-3xl mb-2 leading-none">
      Onde h치 paz h치 cultura - Onde h치 cultura h치 paz
    </p>
    <copy class="text-xs">
      &copy; Gisele de Menezes - {{"now"|date('Y')}} - Todos os direitos
      reservados
    </copy>
  </div>
</footer>
