{% if top_menu %}
<div class="flex justify-center bg-rose-900 text-white w-full px-4 shadow-xl">
  <div class="flex flex-col w-full">
    <a
      data-state="closed"
      data-closed-text="Abrir menu"
      data-open-text="Fechar menu"
      class="flex w-full text-center md:hidden py-2 font-semibold"
      id="menu-bt"
      href="#"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="anchor-icon transform transition w-6 h-6 mr-2 self-start"
      >
        <path
          fillRule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clipRule="evenodd"
        />
      </svg>
      <span class="anchor-text flex-grow">Abrir menu</span>
      <span class="w-6 ml-2"></span>
    </a>
    <div id="menu-list" class="hidden md:flex">
      <ul
        id="menu-list"
        class="flex flex-col md:flex-row justify-center flex-wrap max-w-screen-xl md:space-x-2 w-full pb-2 md:pb-0"
      >
        {% for item in top_menu.get_items %}
        <li>
          <a
            class="py-1 px-2 flex bg-rose-900 transition hover:bg-white hover:text-rose-900 ring-inset ring-1 ring-rose-900 border-t md:border-t-0 border-opacity-5 border-white"
            href="{{ item.get_link }}"
            title="{{ item.title }}"
            >{{ item.title }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <div class="bg-white rounded mb-4 md:hidden">
        {% include "sidebar.twig" with {'mobile': true } %}
      </div>
    </div>
  </div>
</div>
{% endif %}
