<div id="mc_embed_signup" class="bg-rose-900 w-full">
  <form
    action="https://povoempe.us14.list-manage.com/subscribe/post?u=45c89d8ca56a538acf4489886&amp;id=b95165f8ef"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate flex-grow w-full max-w-screen-xl py-16 px-6"
    target="_blank"
    novalidate
  >
    <div
      id="mc_embed_signup_scroll"
      class="w-full flex flex-col justify-center md:items-center md:flex-row md:justify-between"
    >
      <div class="md:w-6/12 mb-3">
        <h2 class="text-white text-3xl font-bold tracking-tight">
          Quer saber de minhas atividades?
        </h2>
        <p class="text-xl text-white text-opacity-80 mt-2 mb-4">
          Assine minha newsletter para receber meus posts, anúncios de cursos e
          workshops por e-mail. Você pode se descadastrar a qualquer momento.
          Para entender, veja minhas
          <a
            target="_blank"
            class="text-rose-600 hover:underline"
            href="https://us14.campaign-archive.com/home/?u=45c89d8ca56a538acf4489886&id=b95165f8ef"
            >últimas comunicações</a
          >.
        </p>
      </div>
      <div class="md:w-5/12 space-y-2 flex flex-col">
        <div class="mc-field-group flex flex-col">
          <label class="hidden" for="mce-EMAIL"
            >E-mail <span class="asterisk">*</span>
          </label>
          <input
            type="email"
            value=""
            name="EMAIL"
            class="required email rounded p-3 text-lg text-gray-500"
            placeholder="Seu e-mail *"
            id="mce-EMAIL"
          />
        </div>
        <div class="mc-field-group flex flex-col">
          <label class="hidden" for="mce-FNAME">Nome </label>
          <input
            type="text"
            value=""
            name="FNAME"
            placeholder="Seu nome"
            class="rounded p-3 text-lg text-gray-500"
            id="mce-FNAME"
          />
        </div>
        <div id="mce-responses">
          <div
            class="response"
            id="mce-error-response"
            style="display: none"
          ></div>
          <div
            class="response"
            id="mce-success-response"
            style="display: none"
          ></div>
        </div>
        <div class="sr-only" aria-hidden="true">
          <input
            type="text"
            name="b_45c89d8ca56a538acf4489886_b95165f8ef"
            tabindex="-1"
            value=""
          />
        </div>
        <input
          type="submit"
          value="Assinar"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="button !mt-0 self-end bg-white text-rose-900 font-semibold py-2 px-4 text-lg rounded cursor-pointer hover:bg-white hover:bg-opacity-10 hover:text-white ring-2 ring-white ring-opacity-40 hover:ring-white"
        />
      </div>
    </div>
  </form>
</div>
