<aside
  class="{% if not mobile %}hidden md:block{% else %}md:hidden{% endif %} md:max-w-xs md:shadow p-4"
>
  {% include "partial/search.twig" %}
  <div class="mt-3 flex flex-col">
    <h3
      class="text-xl font-semibold text-gray-600 border-t px-2 pt-2 pb-1 my-4 border-b"
    >
      Especializações
    </h3>

    <div class="flex flex-col">
      {% for specialization in specializations %}
      <a
        href="{{ specialization.path }}"
        class="flex items-center mb-2 border-2 border-white bg-white space-x-2 w-full hover:ring-2 focus:ring-2 outline-none ring-rose-800 group rounded-sm"
      >
        <img
          class="rounded-l-sm"
          src="{{ specialization.thumbnail.src('mini_thumb') }}"
        />
        <p
          class="text-gray-500 font-semibold text-xs group-hover:text-rose-900 group-focus:text-rose-900"
        >
          {{ specialization.title }}
        </p>
      </a>
      {%endfor%}
    </div>
  </div>
</aside>
