@import 'tailwindcss/base';

@import 'tailwindcss/components';

img.alignright {
  margin-left: 10px;
  margin-bottom: 10px;
  float: right;
}

img.alignleft {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

img.aligncenter {
  margin: 0 auto 10px;
}

@import 'tailwindcss/utilities';
